<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/item_list.css' %}">
</head>
<body>
    <div class="top-nav">
        <a href="{% url 'product:add_item' %}">Item Add</a>
        <a href="{% url 'product:prd_add' %}">Add Product</a>
        <a href="{% url 'product:prd_list' %}">Product list</a>
        <a href="{% url 'product:stock_in_list' %}">Stock List</a>
        <a href="{% url 'product:remaining_stock' %}">View Remaining Stock</a>
        <a href="{% url 'product:stock_in_add' %}">Add Stock Entry</a>
        <a href="{% url 'product:add_supplier' %}">Add Supplier</a>
        <a href="{% url 'product:supplier_list' %}">Supplier List</a>
    </div>

    <div class="container">
        <h1>Item List</h1>
        <table>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.Item_Name }}</td>
                    <td>
                        <a href="{% url 'product:edit_item' item.pk %}" class="edit-link">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'product:add_item' %}" class="edit-link">Add a new item</a>
    </div>
</body>
</html>
