<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_form.css' %}">
</head>
<body>
    <div class="top-nav">
        <a href="{% url 'product:prd_list' %}">Product List</a>
        <a href="{% url 'product:prod_home' %}"> Product Home</a>
    </div>
    <div class="container">
        <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'product:prd_list' %}">Cancel</a>
    </div>
</body>
</html>
