<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/supplier_form.css' %}">
</head>
<body>
    <div class="top-nav">
        <a href="{% url 'product:supplier_list' %}">Supplier List</a>
        <a href="{% url 'product:prod_home' %}"> Product Home</a>
    </div>
    <div class="container">
        <h1>{{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
