<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/supplier_form.css' %}">
</head>
<body>
    <div class="top-nav">
        <a href="{% url 'product:supplier_list' %}">Supplier List</a>
        <a href="{% url 'product:item_list' %}">Item List</a>
        <a href="{% url 'product:add_item' %}">Item Add</a>
        <a href="{% url 'product:prd_add' %}">Add Product</a>
        <a href="{% url 'product:prd_list' %}">Product list</a>
        <a href="{% url 'product:stock_in_list' %}">Stock List</a>
        <a href="{% url 'product:remaining_stock' %}">View Remaining Stock</a>
        <a href="{% url 'product:stock_in_add' %}">Add Stock Entry</a>
    </div>
    <div class="container">
        <h1>{{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
