<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load group_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Application{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-size: 60%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .navbar-nav {
            height: 100px;
            margin: 0 auto; /* Aligns items to the center */
            display: flex; /* Ensures flex layout */
            align-items: center; /* Centers items vertically */
        }
        .navbar-nav .nav-item {
            margin-right: 10px; /* Adds spacing between items */
        }
        .more {
            padding-left: 250px;
        }
        /* Styles for mobile phones */
        @media only screen and (max-width: 600px) {
            .navbar-nav {
                flex-direction: column;
                align-items: flex-start;
            }
            .navbar-nav .nav-item {
                margin-right: 0;
                margin-bottom: 10px;
            }
            .more {
                padding-left: 0;
            }
            body {
                background-color: lightgrey;
                font-size: 14px;
            }
        }
        /* Styles for tablets */
        @media only screen and (min-width: 601px) and (max-width: 1200px) {
            body {
                background-color: lightgrey;
                font-size: 14px;
            }
        }
        /* Styles for laptops/desktops */
        @media only screen and (min-width: 1201px) and (max-width: 1800px) {
            body {
                background-color: lightgrey;
                font-size: 14px;
            }
        }
        /* Styles for large screens */
        @media only screen and (min-width: 1801px) {
            body {
                background-color: lightgrey;
                font-size: 14px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'employee:home' %}">
            {% if user.is_superuser %}
                Admin Dashboard
            {% elif user|has_group:"Supervisor" %}
                Supervisor Dashboard
            {% elif user|has_group:"HR" %}
                HR Dashboard
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'employee:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="departmentsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Departments
                            </a>
                            <div class="dropdown-menu" aria-labelledby="departmentsDropdown">
                                <a class="dropdown-item" href="{% url 'employee:department_list' %}">List Departments</a>
                                <a class="dropdown-item" href="{% url 'employee:department_create' %}">Add Department</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="employeesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Employees
                            </a>
                            <div class="dropdown-menu" aria-labelledby="employeesDropdown">
                                <a class="dropdown-item" href="{% url 'employee:employee_list' %}">List Employees</a>
                                <a class="dropdown-item" href="{% url 'employee:employee_create' %}">Add Employee</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="attendanceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attendance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="attendanceDropdown">
                                <a class="dropdown-item" href="{% url 'employee:attendance_list' %}">List Attendance</a>
                                <a class="dropdown-item" href="{% url 'employee:select_department' %}">Add Attendance</a>
                                <a class="dropdown-item" href="{% url 'employee:monthly_absence_count' %}">Monthly Absence Count</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="overtimeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Overtime
                            </a>
                            <div class="dropdown-menu" aria-labelledby="overtimeDropdown">
                                <a class="dropdown-item" href="{% url 'employee:overtime_list' %}">List Overtime</a>
                                <a class="dropdown-item" href="{% url 'employee:overtime_add' %}">Add Overtime</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="itemAndSupplierDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Item And Supplier
                            </a>
                            <div class="dropdown-menu" aria-labelledby="itemAndSupplierDropdown">
                                <a class="dropdown-item" href="{% url 'product:add_item' %}">Create Item</a>
                                <a class="dropdown-item" href="{% url 'product:item_list' %}">List items</a>
                                <a class="dropdown-item" href="{% url 'product:add_supplier' %}">Create Supplier</a>
                                <a class="dropdown-item" href="{% url 'product:supplier_list' %}">Supplier list</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="purchaseAndDistributionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Purchased and Distribution
                            </a>
                            <div class="dropdown-menu" aria-labelledby="purchaseAndDistributionDropdown">
                                <a class="dropdown-item" href="{% url 'product:prd_add' %}">Add Purchased Items</a>
                                <a class="dropdown-item" href="{% url 'product:prd_list' %}">Purchased lists</a>
                                <a class="dropdown-item" href="{% url 'product:stock_in_add' %}">Add Stock Distribution</a>
                                <a class="dropdown-item" href="{% url 'product:stock_in_list' %}">Stock Distribution List</a>
                                <a class="dropdown-item" href="{% url 'product:remaining_stock' %}">View Remaining Stock</a>
                            </div>
                        </li>
                    {% elif user|has_group:"Supervisor" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="attendanceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attendance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="attendanceDropdown">
                                <a class="dropdown-item" href="{% url 'employee:attendance_list' %}">List Attendance</a>
                                <a class="dropdown-item" href="{% url 'employee:select_department' %}">Add Attendance</a>
                                <a class="dropdown-item" href="{% url 'employee:monthly_absence_count' %}">Monthly Absence Count</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="overtimeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Overtime
                            </a>
                            <div class="dropdown-menu" aria-labelledby="overtimeDropdown">
                                <a class="dropdown-item" href="{% url 'employee:overtime_list' %}">List Overtime</a>
                                <a class="dropdown-item" href="{% url 'employee:overtime_add' %}">Add Overtime</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown more">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'product:add_item' %}">Create Item</a>
                                <a class="dropdown-item" href="{% url 'product:item_list' %}">List Items</a>
                                <a class="dropdown-item" href="{% url 'product:add_supplier' %}">Create Supplier</a>
                                <a class="dropdown-item" href="{% url 'product:supplier_list' %}">Supplier List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'product:prd_add' %}">Add Purchased Items</a>
                                <a class="dropdown-item" href="{% url 'product:prd_list' %}">Purchased Lists</a>
                                <a class="dropdown-item" href="{% url 'product:stock_in_add' %}">Add Stock Distribution</a>
                                <a class="dropdown-item" href="{% url 'product:stock_in_list' %}">Stock Distribution List</a>
                                <a class="dropdown-item" href="{% url 'product:remaining_stock' %}">View Remaining Stock</a>
                            </div>
                        </li>
                    {% elif user|has_group:"HR" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="attendanceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attendance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="attendanceDropdown">
                                <a class="dropdown-item" href="{% url 'employee:attendance_list' %}">List Attendance</a>
                                <a class="dropdown-item" href="{% url 'employee:select_department' %}">Add Attendance</a>
                                <a class="dropdown-item" href="{% url 'employee:monthly_absence_count' %}">Monthly Absence Count</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="overtimeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Overtime
                            </a>
                            <div class="dropdown-menu" aria-labelledby="overtimeDropdown">
                                <a class="dropdown-item" href="{% url 'employee:overtime_list' %}">List Overtime</a>
                                <a class="dropdown-item" href="{% url 'employee:overtime_add' %}">Add Overtime</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown more">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'product:add_item' %}">Create Item</a>
                                <a class="dropdown-item" href="{% url 'product:item_list' %}">List Items</a>
                                <a class="dropdown-item" href="{% url 'product:add_supplier' %}">Create Supplier</a>
                                <a class="dropdown-item" href="{% url 'product:supplier_list' %}">Supplier List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'product:prd_add' %}">Add Purchased Items</a>
                                <a class="dropdown-item" href="{% url 'product:prd_list' %}">Purchased Lists</a>
                                <a class="dropdown-item" href="{% url 'product:stock_in_add' %}">Add Stock Distribution</a>
                                <a class="dropdown-item" href="{% url 'product:stock_in_list' %}">Stock Distribution List</a>
                                <a class="dropdown-item" href="{% url 'product:remaining_stock' %}">View Remaining Stock</a>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
