{% extends 'base.html' %}

{% block title %}Monthly Absence Count{% endblock %}

{% block content %}
<style>
    /* Container styles */
    .container {
        padding: 20px;
        max-width: 600px;
        margin: 100px auto; /* Center align container */
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    /* Form styles */
    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    label {
        margin-top: 10px;
        font-weight: bold;
    }

    select, input[type="text"] {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }

    .btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 12px 20px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #0056b3;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .container {
            padding: 10px;
        }

        label {
            font-size: 14px;
        }

        select, input[type="text"] {
            font-size: 12px;
        }

        .btn {
            padding: 10px 15px;
            font-size: 14px;
        }
    }
</style>



<h1>Select Department</h1>

<div class="container">
    <form method="get" action="{% url 'employee:monthly_absence_count' %}">
        <label for="department">Department:</label>
        <select name="department" id="department">
            <option value="">All</option>
            {% for department in departments %}
                <option value="{{ department.Department_id }}" {% if selected_department == department.Department_id %}selected{% endif %}>{{ department.Department_Name }}</option>
            {% endfor %}
        </select>
        
        <label for="year">Year:</label>
        <input type="text" name="year" id="year" value="{{ selected_year }}">
        
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
{% endblock %}
